// title
%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight:$titleFont;
}
.page-title{
  @extend  %title;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.section-title{
  @extend %title;
  margin-bottom: 15px;
}

//header
#header{
  width: 100%;
  margin-bottom: 60px;
    nav{
      background-color: $headerBg;
      box-shadow: none;

      ul.user-control{
        height: 100%;
        font-weight:$fontRegular;
        font-size: 20px;
        color: $darkGrey;
        margin-right: auto;

        &#nav-mobile{
          li.active, li:hover{
            a{

              color: $purple;
            }
            background-color: $white;
          }
        }


        span{
          margin: 0 20px 0 15px;
        }

        .icon-arrow-down{
          font-size: 12px;
        }
      }

      ul.cart-n-lock{
        margin-left: auto;
        li{
          height: 100%;
          a{
            height: 100%;
          }
        }
        .badge{
          min-width: inherit;
          padding: 4px 0;
          display: inline-block;
          height: 30px;
          width: 30px;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background-color: #fff;
        }
        li:hover{
          background-color: #fff;
          a{
            color: $purple;
          }
        }
        i + span{
          display: inline-block;
          margin-left: 6px;
        }
      }

      .nav-wrapper{
        .input-field{
          label{
            transform: translateY(0);
          }
          i{
            color: $black;

          }

          #search{
            background-color: $white;
          }
        }
      }
  }

}

//category-main
.category-main{
  margin-top: 70px;
}


//aside
%activeLink{
  border-left-color: $orange;
  background-color: $activeLinkBg;
  color: $activeLinkColor;
}

#aside{
  background-color: $asideBg;
  //width:$asideWidth;
  height:100vh;
  left: 0;
  z-index: 100;

  .menu-control{
    padding: 18px;

    .menu-btn{
      cursor: pointer;

      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span{
          margin-top: 5px;
        }
      }
    }

  }

  .aside-menu{
    ul{
      li{
        color: $darkGrey ;

        &.active{
          a{
            @extend %activeLink;
          }
        }

        a{
          display: block;
          padding: 14px;
          border-left:4px solid transparent;

          [class*='icon-']{
            font-size: 17px;
            margin-right: 15px;
          }

          &:hover{
            @extend  %activeLink;
          }
        }
      }
    }
  }
}

//default-section
.default-section{
  padding: 120px 0;
  background-color: $white;
}

//btn
.btn-small{
  font-size: $btnSmallFontSize;
  padding: 10px 15px;
  line-height: $lineHeight;
}
.btn-action{
  background-color: $btnActionBg;
  &:hover{
    background-color: $btnActionBgHover;
  }
}
.btn-add-to-cart{
  padding: 7px 15px;
  background-color: $btnAddBg;
  i{
    margin-right:0;
  }
  &:hover{
    background-color: $btnAddBgHover;
  }
}

//item
.item-title{
  font-size: $itemTitleFontSize;
  color: $lightPurple;
  font-weight:$fontBold;
  text-transform: uppercase;
  &:hover{
    color: $pink;
  }
}
.item-description{
  color: $itemDescriptionColor;
  font-weight:$fontRegular;
  font-size: $itemDescriptionFontSize;
}
.item-price{
  font-size: $itemPriceFontSize;
  font-weight:$fontMedium;
  color: $black;
}

//flexslider
.best-items{
  .container{
    .best-items-carousel{
      .slick-slide:focus{
        outline:none;
      }
      .card{
        border-radius: 20px;
        padding: 10px;
        background: rgba(255, 255, 255, .7) linear-gradient(to right,  $greenblueGrad, $purpleGrad);
        .card-image{
          background-color: rgba(255, 255, 255, .9);
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          padding: 10px;
        }
        .card-content{
          font-size: 14px;
          padding: 15px;
          color: $white;
          .item-price{
            font-size: 12px;
            color: $white;
          }
        }
        .card-action{
          padding: 15px;
          .btn{
            background-color: #fff;
            color: $btnActionBg;
            width: 120px;
            &:hover{
              font-weight: $fontMedium;
            }
          }
        }
      }
      .slick-next:before{
        content: '\f138';
        font-family: FontAwesome;
      }
    }
  }
}
.carousel-of-propose-items{
  background: url('../img/bg1.png') no-repeat center / cover;
  .flexslider{
    background-color: $white;
    .page-title{
      padding-top: 18px;
    }
    .slides{
      width: 100%;
      li{
        display: inline-block;
        width:100%;
        height:100%;
        .propose-item{
          height: 100%;
          padding: 30px 30px 80px 30px;
          .propose-item-img{
            width: 45%;
            img{
              width:100%;
            }
          }
          .propose-item-info-wrap{

            width: 45%;
            .propose-item-info{
              flex-direction: column;
              height: 100%;
              .item-title{
                margin-bottom: 15px;
              }
              .item-description{
                margin-bottom: 15px;
              }
            }
          }
        }

      }
    }
  }
}
.show-more-items{
  background-color: $white;
  padding: 15px 0;
  text-align: center;
  &.pagination{
    li.active{
      background-color: $lightPurple;
    }
  }
}
//new arrivals
.new-arrival{
  background-color: $xsLightGrey;
  .container{
    .row{
      .item{
        .card-image{
          padding: 10px;
          img{
            width: 100%;
          }
        }
        .card-content .item-title,
        .card-reveal .item-title{
          i{
            color: $black;
          }
          &:hover{
            cursor: pointer;
            i{
              color: $black;
              &:hover{
                color: $pink;
              }
            }
          }

        }
        .btn{
          height: auto;
        }
      }
    }
  }
}
//content
.content-wrapper{
  padding: 18px;
  height: calc(100vh - 62px);
  overflow-y: auto;
}

.card{
  background-color: $cardBg;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .card-header{
    border-bottom: 1px solid $lightGrey;
    padding: 18px;
  }
}

//aside
.aside-menu{
  .aside-element{
    background-color: $white;
    padding: 25px;

    & + .aside-element{
      margin-top: 20px;
    }
    .aside-title{
      padding:0 0 15px 0;
      font-size: 25px;
      margin-bottom: 15px;
      border-bottom: .5px solid $lightGrey;
    }
    .form-control-wrap{
      .input-group{
        input:checked + label{
          font-weight: $fontRegular;
          font-size: 18px;
        }
      }
    }
    .sort{
      padding-bottom: 120px;
    }

  }
}
//range slider
.range-slider-wrap{
  padding: 50px 15px 30px;
  .noUi-horizontal .noUi-handle:hover,
  .noUi-horizontal .noUi-handle:active,
  .noUi-horizontal .noUi-handle:focus{
    outline:none;
  }
}

//catologue
.catalogue{
  .item-card{
    &:hover{
      box-shadow: 5px 5px 10px $grey;
    }
    margin-bottom: 15px;
    padding: 18px;
    background-color: $white;
    & > * + *{
      margin-top: 15px;
    }
    .item-img-wrap{
      padding-bottom: 10px;
      border-bottom: .5px solid $lightGrey;
    }
  }
}
.product-wrap{
  background-color: $white;
  padding: 50px 35px;
  .main-product-body{
    overflow: hidden;
    width: 100%;
    .product-img-wrap{
      max-width: 400px;
      padding: 0 18px;
      width: 100%;

      .lSAction > .lSPrev{
        left: 0;
      }
      .lSAction > .lSNext{
        right: 0;
      }
      .lSSlideWrapper{
        margin-bottom: 20px;
      }
      .lSSlideOuter .lSPager.lSGallery li{
        background-color: $lightGrey;
        padding: 10px;
        transition: all .3s linear;
        height: 86px;
        text-align: center;
        img{
          display: inline-block;
          height: 66px;
        }
        &:hover{
          background-color: $xsLightGrey;
        }
        &.active, &:focus{
          outline:none;
          background-color: transparent;
          border: 1px solid $lightGrey;
        }
      }
      .lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover{
        border-radius:0;
      }
      #light-slider{
        & {
          list-style: none outside none;
          padding-left: 0;
          margin-bottom:0;
        }
        li {
          text-align: center;
          display: inline-block;
          margin-right: 6px;
          cursor:pointer;
        }
        img {
          padding: 0 15px;
          display: inline-block;
          height: 230px;
          max-width: 100%;
        }
      }
    }
    .short-description{
      width: 100%;
      .item-title{
        font-size: 32px;
        margin-bottom: 18px;
        padding:0 10px 15px;
        border-bottom: .5px solid $lightGrey;
      }
      .category, .availabiity{
        padding: 10px;
        font-weight:$fontRegular;
        margin-bottom: 18px;
      }
      .description{
        padding: 10px;
        font-size: 18px;
        padding-bottom: 18px;
      }
      .btn-row{
        padding: 15px 10px;
        border-top: .5px solid $lightGrey;
      }
    }
    }
  .product-characteristics{
    margin-top: 30px;
    ul{
      li, li:last-child{
        max-width:46%;
        border-bottom: 1px solid $lightGrey;
        margin: 15px;
        font-size: 20px;
        &.collection-header{
          max-width: 100%;
        }
        .characteristic-name{
          font-weight: $fontRegular;
        }
      }
    }
  }
}

//registration
.modal{
  top: 5%;
  width: auto;
  min-height: 90%;
  box-shadow: none;
  //width: auto;
  background-color: transparent;
  .registr{
    display: flex;
    justify-content: center;
    font-weight: $fontMedium;
    form{
    display: inline-block;
    padding: 50px 40px;
    background-color: $white;
    width: 100%;
    font-size: 22px;
  }
}

}

//cart
.cart-wrap{
  background: url('../img/bg1.png') no-repeat center / cover;
  padding: 60px 0;
  .cart{
    background-color: $white;
    padding: 40px;
    width: 100%;
    table{
      tbody{
        font-size: 18px;
        tr{
          &:hover td.del{
            &:hover{
              color: $red;
            }
            z-index: 1;
          }
          td{
            padding: 15px 5px;
            &.del{
              width: 75px;
              position: relative;
              font-size: 24px;
              a{
                z-index: -1;
                position: absolute;
                top: 50%;
                left: 30%;
                transform: translateX(-50%) translateY(-50%);
                transition:  all .3s linear;
              }

            }
          }
          .table-item{
            .img-cart{
              width: 90px;
              height: 80px;
              display: flex;
              margin-right: 15px;
              justify-content: center;
              align-items: center;
              img{
              }
            }
          }
          .quantity {
            color: $black;
            position: relative;
            & * {
              background-color: $white;
            }
          }

          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button
          {
            -webkit-appearance: none;
            margin: 0;
          }

          input[type=number]
          {
            -moz-appearance: textfield;
          }

          .quantity input {
            width: 45px;
            height: 42px;
            line-height: 1.65;
            float: left;
            display: block;
            padding: 0;
            margin: 0;
            padding-left: 20px;
            color: $darkGrey;
            border: 1px solid $grey;
          }

          .quantity input:focus {
            outline: 0;
          }

          .quantity-nav {
            float: left;
            position: relative;
            height: 42px;
          }

          .quantity-button {
            position: relative;
            cursor: pointer;
            width: 20px;
            text-align: center;
            color: $darkGrey;
            font-weight: $fontRegular;
            font-size: 16px;
            border: 1px solid $grey;
            position: absolute;
            height: 51%;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            &:hover{
              background-color: #b0e6d0;
            }
          }

          .quantity-button.quantity-up {
            top: 0;
          }

          .quantity-button.quantity-down {
            margin-bottom: -1px;
            bottom: 0;
          }
        }
      }


    }
    .btn-row{
      padding: 18px 0;
      .btn{
        font-size: 25px;
      }
    }
  }
}

//footer
.page-footer{
  margin-top: 60px;
  background-color: $darkGrey;
  .footer-copyright{
    background-color: $black;
  }
}


//btn-row
.btn-row{
  padding: 18px 0;
}


//admin
#admin{
  background: url('../img/bg1.png') no-repeat center / cover;
  #header{
    nav{
      padding-top: 0;
      nav{
        padding-top: 10px;
        .nav-wrapper{
          height: 80%;
        }

      }
    }
    form{
      .btn{
        height: 100%;
        margin-left: 10px;
        box-shadow: none;
      }
    }
  }
  .container{
    width: 85%;
  }
  main{
    padding-bottom: 35px;
    .edit{
      padding: 18px;
      width: 75%;
      font-weight: $fontRegular;
    }
    .btn.add-btn{
      background-color: #299d00;
    }
    .admin-wrap{
      padding: 0;

      .admin-table-wrap{
        overflow: scroll;
        font-size: 14px;
        font-weight: $fontMedium;
        .btn-row{
          padding: 18px 5px;
        }
        tbody{
          tr{
            td {
              font-weight: 400;
              btn + btn{
                margin-left: 15px;
              }
              .del-item{
                background-color: $red;
              }
              .char{
                white-space: nowrap;
              }
            }
            .btn-group{
              .btn{
                display: block;

                & + .btn{
                  margin-top: 15px;
                }
              }
            }
          }
        }
      }
    }
    
  }
  &>*:not(#slide-out){
    width: 80.18%;
    margin-left: auto;
  }
  #slide-out{
    width: 20%;
    border-right: 1px solid $grey;
    .page-title{}
    .user-view{

      .admin-name{
        font-size: 22px;
        text-transform: uppercase;
      }
    }
  }
}
